<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- <meta http-equiv="refresh" content="5"> -->
<script src="/javascripts/dashboard.js"></script>
<script src="/javascripts/jquery.js" charset="utf-8"></script>

<div class="movap-titulo">
    <h4 align="left">ACOMPANHAMENTO ONLINE</h4>
    <hr>
</div>
<script>atualizar();</script>

<div class="col">
    <div class="row">
        <div class="col-5">
            <br>
            <div class="row">
              <button class="listagem" onclick="listView()"><i class="fa fa-bars"></i></button>
              <button class="gradeamento" onclick="gridView()"><i class="fa fa-th-large"></i></button>
            </div>
            <div class="row">
                <div class="input-group">
                    <input id="myInput" class="form-control" type="text" onkeyup="search()" placeholder="Pesquisar"
                        aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <table id="myTable" class="table table-bordered mt-3 border-dark border">
                  <div class="row">
                    <div class="column desligado">
                        <div>
                          <img class="imgstatus" src="/images/desligado.png">
                          <span class="txtdesligado">DESLIGADO</span>
                          <div class="nomestatusdesligado">Teodora Sampaio</div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="column emuso">
                        <div>
                          <img class="imgstatus" src="/images/emuso.png">
                          <span class="txtemuso">EM USO</span>
                          <div class="nomestatusemuso">Teodora Sampaio</div>
                        </div>
                    </div>
                  </div>
                    <tbody class="table-body">
                        <!-- {{#each stations}}
                    <tr>
                    <th scope="row" class="font-book text-left">{{nameEmployed}}</th>
                    <th id="Atualizar" scope="row" class="font-book text-center {{dataesp}}">{{dataesp}}</th>
                    </tr>
                    {{/each}} -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br><br>
<br>
