<div class="movap-titulo">
  <h4 align="left">LISTA DE ESTAÇÕES DE TRABALHO</h4>
  <hr>
</div>
<div class="col">
    <div class="row">
        <div class="col-lg-5">
            <div class="bg clearfix col-11">
                <button type="button" class="btn btn-primary btn-info  btn-secondary "  aria-haspopup="true" aria-expanded="false"/><a  style="color:#ffffff" href="/station/signup">NOVO</a></button>
            </div>
            <table class="table table-bordered table-responsive-sm mt-4">
              <tbody id="myTable" class="element">
                {{#each stations}}
                <tr>
                  <th scope="row" class="font-book text-center " onclick="location.href='/station/edit/{{id}}'">{{idesp}}</th>
                  <th width="50" scope="row" class="font-book text-center " onclick="location.href='/station/edit/{{id}}'">. . .</th>
                </tr>
                {{/each}}
              </tbody>
            </table>
         </div>
   </div>
</div>
<br>
<script type="text/javascript" src="/javascripts/edit.js">  </script>